@media print,
(max-width: 1439px)
{
    /*-------------------
        Global styles
    -------------------*/
    .wrap,
    .fancybox__container
    {
        zoom: .9;
    }

    @-moz-document url-prefix()
    {
        html
        {
            width: calc(100% / .9);
            height: calc(100% / .9);

            transform: scale(.9);
            transform-origin: left top;
        }
    }
}
